@media print  {
  [role="main"] {
    margin: 0;
  }

  .new-page {
    break-before: page;
    margin-bottom: 0.25in;
  }

  header,
  footer {
    display: none;
  }

  // use div to make more specific than .container
  div.container {
    border: none;
    background-color: transparent;
  }

  .hidden-print {
    display: none;
  }

  .visible-print-block {
    display: block;
  }
}
