@import "background-queries";

$primary-color: $inverted-action-color;
$secondary-color: $inverted-font-color;

// Safari doesn't seem to support @keyframes inside @media inside @supports, so
// we have to define the animations at the top level
@each $size, $query in $bg-queries {
  @media only screen and #{$query} {
    @keyframes sharpen {
      from {
        background-image: filter(url('../images/bg-#{$size}.jpg'), blur(40px));
      }

      to {
        background-image: filter(url('../images/bg-#{$size}.jpg'), blur(0));
      }
    }
  }
}

@supports not (background-image: filter(url('i.jpg'), blur(1px))) {
  .landing-page {
    background-size: cover;
  }

  @each $size, $query in $bg-queries {
    @media only screen and #{$query} {
      .is-enhanced {
        background-image: url('../images/bg-#{$size}.jpg');
      }
    }
  }
}

@supports (background-image: filter(url('i.jpg'), blur(1px))) {
  .landing-page {
    will-change: background-image;
  }

  .is-enhanced {
    animation: 0.5s both sharpen;
  }
}


@media only screen and (min-width: 768px) {
  .content {
    transform: translateY(50%);
  }
}

.landing-page {
  body {
    color: $secondary-color;
    font-size: 1rem;
    text-align: center;
  }

  h1 {
    margin: modular-scale(-1) 0;
    font-size: modular-scale(5);
    letter-spacing: modular-scale(-6);
    text-transform: uppercase;
  }

  hr {
    margin-left: auto;
    margin-right: auto;
    width: 4em;
  }

  h2 {
    margin: modular-scale(-1) 0;
    color: $secondary-color;
    font-size: modular-scale(2);
    font-style: italic;
    font-weight: 300;
    letter-spacing: modular-scale(-7);
    text-transform: uppercase;
  }
}

.landing-page__links {
  @include outer-container;

  padding: 1em;
  text-transform: uppercase;

  li {
    @include span-columns(12);
    margin-bottom: modular-scale(3);

    @include media($small-screen-up) {
      @include span-columns(4);
    }
  }

  li:active,
  li:hover {
    background-color: rgba($secondary-color, 0.5);
  }

  a {
    @include span-columns(6 of 6);
    @include media($small-screen-up) {
      @include span-columns(4 of 4);
    }

    letter-spacing: modular-scale(-7);
    padding: 1em;
    background-color: rgba($secondary-color, 0.1);
    border: 2px solid $primary-color;
    transition: all 100ms;
    color: $primary-color;
    text-decoration: none;
  }
}

.landing-page__cta {
  margin-bottom: 1rem;

  a {
    color: inherit;
  }
}
