html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow-y: auto;
}

[role="banner"],
[role="main"],
[role="contentinfo"] {
  @include outer-container;
  padding: modular-scale(3);
  position: relative;
}
